<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/plugins/layedit/src/css/layui.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <script language="JavaScript" src="/static/plugins/layedit/src/layui.js"></script>
    <script language="JavaScript" src="/static/plugins/placeImage.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">添加文章</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <ul class="forminfo">
                <li>
                    <label>文章标题</label>
                    <input name="title" placeholder="请输入文章标题" type="text" class="dfinput" />
                </li>
                <li>
                    <label>文章图片</label>
                    <input id="f" name="img" type="file" onchange="change()" />
                    <p>
                        <img src="" id="preview" alt="" width="200px" name="pic">
                    </p>
                </li>
                <li>
                    <label>所属分类</label>
                    <select name="cat_id" id="" class="dfinput">
                        <option value="">请选择一个分类</option>
                        {foreach name='cats' item='cat'}
                        <option value="{$cat['cat_id']}">{:str_repeat('-',$cat['level']*2)}{$cat['cat_name']}</option>
                        {/foreach}
                    </select>
                </li>
                <li>
                    <label>文章内容</label>
                    <textarea name="content" id='content' placeholder="请输入文章内容" cols="" rows="" ></textarea>
                </li>
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        var index = layedit.build('content', {
            //hideTool: ['image']
            uploadImage: {
                url: '/layui/upload.php'
                ,type: 'post'
            }
            ,tool: [
                //数组留空显示所有
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线

                ,'|' //分割线

                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                //,'image' //插入图片
                ,'help' //帮助
            ]
            ,height: 300
        });
    });
</script>

</html>
